body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 40px;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #a3a0a0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #000000;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f0eaea;
    border-radius: 6px;
    font-size: 16px;
  }
  
  input:focus,
  select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  button {
    margin-top: 25px;
    width: 100%;
    background-color: #1b2bda;
    color: #111111;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  