@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* HACK: (me):
* - add skeleton for loading.
* - use that for any loading state.
* - reference :
*  https://www.freecodecamp.org/news/how-to-build-skeleton-screens-using-css-for-better-user-experience/
*/

.font-kanit {
  font-family: "Kanit", sans-serif;
}

.font-sora {
  font-family: "Sora", sans-serif;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}
